address {
    color: #777;
    display: inline-block;
  }
  
address a {
    font-weight: bold;
    text-decoration: none;
}

.icon-menu {
    font-size: 3em;
    float: right;
}

.pull-left {
    float: left;
  }
  
.pull-right {
    float: right;
  }
  
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

p {
    font-size: 1em;
}

hr {
    margin: 1em;
    width: 80%;
}

nav ul {
    display: none;
    padding: 0;
    list-style: none;
    clear: both;
}
  
nav li {
    margin-right: .4em;
    font-size: 1.5em;
    padding: .5em .2em;
    border-bottom: 1px solid #ccc;
}