select {
    width: 90%;
    margin: .2em 5%;
  }
  
  address a {
    font-weight: bold;
    text-decoration: none;
  }
  
  .icon-menu {
    font-size: 3em;
    float: right;
  }

 /* .template {
      display: none;
  } */